{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container px-4 px-lg-5 my-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <img src="{% static 'img\tibia.jpg' %}" alt="tibia" class="img-fluid w-100 mb-4">
        </div>
    </div>
</div>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="mb-4 text-center">Productos de Tibia</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for producto in productos %}
                {% if producto.tipo_producto.desc_tipo_producto == 'Token Tibia' %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if producto.is_oferta %}
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                    Oferta
                                </div>
                            {% endif %}
                            <img class="card-img-top" src="{{ producto.imagen.url }}" alt="{{ producto.nombre_producto }}" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ producto.nombre_producto }}</h5>
                                    {% if producto.is_oferta %}
                                        <span class="text-muted text-decoration-line-through">${{ producto.precio_unidad }}</span>
                                        ${{ producto.precio_oferta }}
                                    {% else %}
                                        ${{ producto.precio_unidad }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto btn-transition" href="{% url 'agregar-producto' pk=producto.id_producto %}">Añadir al carrito</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
